# Pandas GroupBy – Full Chat-Style Transcript
This notebook contains the full conversation in Q&A format, detailed Python scripts, line-by-line comments, explanations, and the final grouped/percentage results.

## Q1: Calculate grouped sum per key and percentage of total
**User:** Calculate percentage against total from grouped sum.
**ChatGPT:** Here’s how you can do it using pandas:

In [4]:
# Import libraries
import pandas as pd
import numpy as np

# Sample DataFrame
df = pd.DataFrame({
    'key': ['a','b','c'] * 4,
    'A': np.arange(12),
    'B': [1,2,3] * 4,
})

# Group by 'key' and sum column 'A'
group_sum = df.groupby('key')['A'].sum()

# Calculate percentage per key
percentage = (group_sum / group_sum.sum()) * 100

# Display result
print('Grouped Sum per key:\n', group_sum)
print('\nPercentage:\n', percentage)

df

Grouped Sum per key:
 key
a    18
b    22
c    26
Name: A, dtype: int64

Percentage:
 key
a    27.272727
b    33.333333
c    39.393939
Name: A, dtype: float64

   key   A  B
0    a   0  1
1    b   1  2
2    c   2  3
3    a   3  1
4    b   4  2
5    c   5  3
6    a   6  1
7    b   7  2
8    c   8  3
9    a   9  1
10   b  10  2
11   c  11  3

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'key': ['a','b','c'] * 4,
    'A': np.arange(12),
    'B': [1,2,3] * 4,
})

# Group and sum
result = (
    df.groupby('key', as_index=False)
      .agg(sum_A=('A', 'sum'))
)

# Add percentage column
total_sum = result['sum_A'].sum()
result['percentage'] = result['sum_A'] / total_sum * 100


# Create TOTAL row
total_row = pd.DataFrame({
    'key': ['Total'],
    'sum_A': [total_sum],
    'percentage': [100.0]
})

# Append TOTAL row
result = pd.concat([result, total_row], ignore_index=True)

result

     key  sum_A  percentage
0      a     18   27.272727
1      b     22   33.333333
2      c     26   39.393939
3  Total     66  100.000000

## Q2: Add sum and percentage as columns
**ChatGPT:** You can add sum and percentage back to the grouped DataFrame:

In [7]:
# Convert series to DataFrame for reporting
result = group_sum.to_frame(name='sum_A')  # sum_A column

# Add percentage column
result['percentage'] = (result['sum_A'] / result['sum_A'].sum()) * 100

result


# Sort by sum_A descending (exclude Total first)
result_sorted = pd.concat([
    result[result['key'] != 'Total'].sort_values('sum_A', ascending=False),
    result[result['key'] == 'Total']
], ignore_index=True)

result_sorted

KeyError: 'key'

## Q3: Add TOTAL row and sort by sum_A
**ChatGPT:** Adding a total row and sorting by sum_A highest value.

In [6]:
# Calculate total sum
total_sum = result['sum_A'].sum()

# Create TOTAL row
total_row = pd.DataFrame({
    'key': ['Total'],
    'sum_A': [total_sum],
    'percentage': [100.0]
})

# Append TOTAL row
result = pd.concat([result, total_row], ignore_index=True)

# Sort by sum_A descending, keep Total at bottom
result_sorted = pd.concat([
    result[result['key'] != 'Total'].sort_values('sum_A', ascending=False),
    result[result['key'] == 'Total']
], ignore_index=True)
result
##result_sorted

   sum_A  percentage    key
0     18   27.272727    NaN
1     22   33.333333    NaN
2     26   39.393939    NaN
3     66  100.000000  Total
4    132  100.000000  Total
5    264  100.000000  Total

### Explanation / Notation
- `groupby('key')` : Groups rows based on the 'key' column.
- `sum()` : Aggregates the sum for column 'A' per group.
- `percentage` : Each group’s sum as a percentage of total sum.
- `TOTAL row` : Added manually for reporting purposes.
- `sort_values('sum_A', ascending=False)` : Sorts groups from highest to lowest sum.
- The final table keeps Total pinned at the bottom for readability.

### Final Result Table
The grouped sums and percentages with Total row, sorted by sum_A.

In [ ]:
result_sorted