In [2]:
import pandas as pd

import requests


df = pd.read_csv("orders.csv")

In [4]:
##df.head()
##df.tail()
##df.info()
##df.describe()
df.columns
##df.index

Index(['OrderID', 'CustomerName', 'Product', 'Category', 'Quantity', 'Price',
       'OrderDate', 'Shipped', 'Country'],
      dtype='object')

In [5]:
##len(df["Country"].unique())

len(set(df["Country"]))

28

In [ ]:
df[["Country","Product"]]

##df.iloc[0]

In [ ]:

##filter dataframe

df[(df["Category"] == 'Electronics') & (df["Country"] == 'USA')]
##len(df[(df["Category"] == 'Electronics')])

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country
0,1001,John Smith,Laptop,Electronics,1,1200.0,2024-06-01,Yes,USA

In [60]:
df['Price'].mean()
df['Category'].unique()

array(['Electronics', 'Furniture', 'Stationery'], dtype=object)

In [ ]:
df["Category"].unique()

df[df["Category"].isin(['Electronics'])]
df[~df["Category"].isin(['Electronics'])]

##keywords = ['Electronics', 'Furniture']
keywords = ['Furniture']
##keywords = ['Chair']

pattern = '|'.join(keywords)

filtered_df = df[df["Category"].str.contains(pattern, na=False)]
print(len(filtered_df))

##price_ave_by_country = df.groupby('Category')['Price'].mean()
##price_ave_by_country = df.groupby(['Category', 'Country'])['Price'].mean()
price_ave = filtered_df.groupby(['Category', 'Country'])['Price'].mean()
price_ave_cat = filtered_df.groupby(['Category'])['Price'].mean()



##print(price_ave)
##print(price_ave_cat)

##update df

df.loc[df["Category"] == 'Furniture', "Category"] == "Furn"
##print(df)
##df['Category'].unique()

14

In [ ]:
##df.loc[df["Category"] == 'Furniture', "Category"] == "Furn"

##df['Category'] = df['Category'].replace('Furniture', 'Furn')

In [71]:
df['Category'] = df['Category'].replace('Furn', 'Furniture')

In [ ]:


df.loc[df["Category"] == 'Furniture']

In [7]:
df['O_date'] = pd.to_datetime(df["OrderDate"])

In [9]:
##df.groupby(['Category', pd.Grouper(key='O_date', freq='Y')])['Product'].size()
##df.groupby(['Category', df['O_date'].dt.to_period('M')]).size().reset_index(name='Count')
##df.groupby(['Category', df['O_date'].dt.to_period('M')])['Price'].mean()


##df.groupby(['Category', df['O_date'].dt.month])['Price'].mean()

##df.groupby(['Category', df['O_date'].dt.month_name()])['Price'].mean().sort_index()

month_order = [
    "January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December"
]

df['month_name'] = pd.Categorical(
    df['O_date'].dt.month_name(),
    categories=month_order,
    ordered=True
)


##df.groupby(['Category', df['O_date'].dt.month_name(locale='en_US.utf8')])['Price'].mean()

##price_ave_year = df.groupby(['Category', 'Country'])['Price'].mean()

##df1 = df.groupby(df['O_date'].dt.to_period('M')).size()
##df['O_date']
##print(df1)

In [36]:
df.dropna()

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country,O_date,month_name
0,1001,John Smith,Laptop,Electronics,1,1200.0,2024-06-01,Yes,USA,2024-06-01,June
1,1002,Sarah Lee,Headphones,Electronics,2,150.0,2024-06-03,No,Canada,2024-06-03,June
2,1003,Ali Khan,Office Chair,Furniture,1,300.0,2024-06-04,Yes,UAE,2024-06-04,June
3,1004,Alice Wong,Desk Lamp,Furniture,3,45.0,2024-06-05,Yes,Singapore,2024-06-05,June
4,1005,Carlos Mendez,Keyboard,Electronics,2,80.0,2024-06-06,No,Mexico,2024-06-06,June
5,1006,Nora Ibrahim,Notebook,Stationery,5,5.0,2024-06-07,Yes,UAE,2024-06-07,June
6,1007,Emily Davis,Standing Desk,Furniture,1,450.0,2024-06-08,Yes,UK,2024-06-08,June
7,1008,James Park,Monitor,Electronics,2,220.0,2024-06-09,No,South Korea,2024-06-09,June
8,1009,Maria Rossi,Pen,Stationery,10,1.5,2024-06-10,Yes,Italy,2024-06-10,June
9,1010,Takeshi Nakamura,Mouse,Electronics,1,35.0,2024-06-11,Yes,Japan,2024-06-11,June
10,1011,Sophie Martin,Webcam,Electronics,1,85.0,2024-06-12,Yes,France,2024-06-12,June
11,1012,Raj Patel,File Cabinet,Furniture,2,180.0,2024-06-13,No,India,2024-06-13,June
12,1013,Emma Wilson,Stapler,Stationery,3,12.0,2024-06-14,Yes,Australia,2024-06-14,June
13,1014,Diego Rodriguez,USB Drive,Electronics,5,25.0,2024-06-15,Yes,Spain,2024-06-15,June
14,1015,Lisa Chen,Bookshelf,Furniture,1,280.0,2024-06-16,No,China,2024-06-16,June
15,1016,Ahmed Hassan,Printer Paper,Stationery,20,8.0,2024-06-17,Yes,Egypt,2024-06-17,June
16,1017,Anna Kowalski,Wireless Mouse,Electronics,2,45.0,2024-06-18,Yes,Poland,2024-06-18,June
17,1018,Michael Brown,Desk Organizer,Furniture,1,65.0,2024-06-19,No,USA,2024-06-19,June
18,1019,Yuki Tanaka,Calculator,Electronics,1,15.0,2024-06-20,Yes,Japan,2024-06-20,June
19,1020,Fatima Al-Zahra,Whiteboard,Furniture,1,120.0,2024-06-21,Yes,Saudi Arabia,2024-06-21,June
20,1021,David Thompson,Highlighters,Stationery,8,3.5,2024-06-22,No,Canada,2024-06-22,June
21,1022,Isabella Silva,Bluetooth Speaker,Electronics,1,95.0,2024-06-23,Yes,Brazil,2024-06-23,June
22,1023,Oliver Schmidt,Office Plant,Furniture,2,35.0,2024-06-24,Yes,Germany,2024-06-24,June
23,1024,Zara Ahmed,Sticky Notes,Stationery,15,4.0,2024-06-25,No,Pakistan,2024-06-25,June
24,1025,Lucas Anderson,Tablet Stand,Electronics,1,28.0,2024-06-26,Yes,Sweden,2024-06-26,June
25,1026,Chloe Dubois,Paper Shredder,Electronics,1,75.0,2024-06-27,Yes,France,2024-06-27,June
26,1027,Miguel Torres,Desk Chair Mat,Furniture,1,22.0,2024-06-28,No,Argentina,2024-06-28,June
27,1028,Nina Petrov,Binder Clips,Stationery,12,2.5,2024-06-29,Yes,Russia,2024-06-29,June
28,1029,Seo-yeon Kim,Wireless Keyboard,Electronics,1,110.0,2024-06-30,Yes,South Korea,2024-06-30,June
29,1030,Giuseppe Romano,Desk Calendar,Furniture,1,18.0,2024-07-01,No,Italy,2024-07-01,July
30,1031,Amira Hassan,USB Hub,Electronics,1,32.0,2024-07-02,Yes,Morocco,2024-07-02,July
31,1032,Thomas Müller,Document Scanner,Electronics,1,140.0,2024-07-03,Yes,Germany,2024-07-03,July
32,1033,Sofia Rodriguez,Desk Drawer Organizer,Furniture,1,42.0,2024-07-04,No,Colombia,2024-07-04,July
33,1034,Alex Johnson,Index Cards,Stationery,100,0.8,2024-07-05,Yes,USA,2024-07-05,July
34,1035,Yuki Yamamoto,Monitor Stand,Electronics,1,55.0,2024-07-06,Yes,Japan,2024-07-06,July
35,1036,Emma Thompson,Desk Lamp with USB,Furniture,1,68.0,2024-07-07,No,UK,2024-07-07,July
36,1037,Carlos Santos,Wireless Earbuds,Electronics,1,125.0,2024-07-08,Yes,Portugal,2024-07-08,July
37,1038,Leila Mansouri,Desk Pad,Furniture,1,28.0,2024-07-09,Yes,Iran,2024-07-09,July
38,1039,Daniel Kim,Power Strip,Electronics,2,18.0,2024-07-10,No,South Korea,2024-07-10,July
39,1040,Anna Ivanova,Desk Clock,Furniture,1,35.0,2024-07-11,Yes,Ukraine,2024-07-11,July

In [38]:
df.groupby(['Category', 'month_name' ])['Price'].mean().reset_index(name='Average').dropna()

/var/folders/ff/4qwktjyd3wj5njzx2mvpy2qc0000gn/T/ipykernel_3590/1257888415.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['Category', 'month_name' ])['Price'].mean().reset_index(name='Average').dropna()

       Category month_name     Average
5   Electronics       June  166.384615
6   Electronics       July   74.000000
17    Furniture       June  166.333333
18    Furniture       July   38.200000
29   Stationery       June    5.214286
30   Stationery       July    0.800000

In [46]:
##df.groupby(['Category', 'month_name' ])['Price'].sum().reset_index(name='Sum')



##df['Price'] / df.groupby('Category')['Price'].transform('sum')

##state_office = df.groupby(['Category', 'Country']).agg({'Price': 'sum'})
state_office = df.groupby(['Category']).agg({'Price': 'sum'})
# Change: groupby state_office and divide by sum
state_pcts = state_office.groupby(level=0).apply(lambda x:100 * x / float(x.sum()))

print(state_office)

              Price
Category
Electronics  2533.0
Furniture    1688.0
Stationery     37.3

/var/folders/ff/4qwktjyd3wj5njzx2mvpy2qc0000gn/T/ipykernel_3590/3356984989.py:10: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  state_pcts = state_office.groupby(level=0).apply(lambda x:100 * x / float(x.sum()))

In [65]:
##df2 = df.groupby(['Category']).agg({'Price': 'sum'})
##print(df2)
df2 = df.groupby(['Category']).agg({'Price': 'sum'})
##df2['Percentage'] = df2.groupby(level=0).apply(lambda x: 100 * x / x.sum())
# Percentage by lambda and DataFrame.apply() method
##df3 = df2.groupby(level=0).apply(lambda x:100 * x / float(x.sum()))
print(df2)

              Price
Category
Electronics  2533.0
Furniture    1688.0
Stationery     37.3

In [71]:
##print(df[['OrderID', 'O_date', 'OrderDate','month_name']])

set(df['Country'])

{'Argentina',
 'Australia',
 'Brazil',
 'Canada',
 'China',
 'Colombia',
 'Egypt',
 'France',
 'Germany',
 'India',
 'Iran',
 'Italy',
 'Japan',
 'Mexico',
 'Morocco',
 'Pakistan',
 'Poland',
 'Portugal',
 'Russia',
 'Saudi Arabia',
 'Singapore',
 'South Korea',
 'Spain',
 'Sweden',
 'UAE',
 'UK',
 'USA',
 'Ukraine'}

In [ ]:
df2 = df.groupby(['Category']).agg({'Price': 'sum'})
##print(df2)
##df2["perc"] = df2.groupby(level=0).apply(lambda x: 100 * x / x.sum())
##df2["perc"] = df2 / df["Price"]
##df2

In [ ]:
df['Store_Sales_Pct'] = (
    df['Price'] / df.groupby('Category')['Price'].transform('sum')
) * 100

print("\nDataFrame with Percentage:")
print(df['Store_Sales_Pct'])

In [ ]:
df['Country'].value_counts()

In [ ]:
df2 = df.groupby(['Category', 'Fee']).agg({'Fee': 'sum'})
Courses = df.groupby(['Category']).agg({'Fee': 'sum'})
df2.div(Courses, level='Category') * 100

In [ ]:
df.groupby(['Category','Store_Sales_Pct'])["Price"].sum()