In [2]:
import pandas as pd

import requests


df = pd.read_csv("orders.csv")

In [28]:
##df.head()
##df.tail()
##df.info()
##df.describe()
df.columns
##df.index
rows, columns = df.shape
print(rows)

40

In [5]:
##len(df["Country"].unique())

len(set(df["Country"]))

28

In [ ]:
df[["Country","Product"]]

##df.iloc[0]

In [ ]:

##filter dataframe

df[(df["Category"] == 'Electronics') & (df["Country"] == 'USA')]
##len(df[(df["Category"] == 'Electronics')])

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country
0,1001,John Smith,Laptop,Electronics,1,1200.0,2024-06-01,Yes,USA

In [60]:
df['Price'].mean()
df['Category'].unique()

array(['Electronics', 'Furniture', 'Stationery'], dtype=object)

In [ ]:
df["Category"].unique()

df[df["Category"].isin(['Electronics'])]
df[~df["Category"].isin(['Electronics'])]

##keywords = ['Electronics', 'Furniture']
keywords = ['Furniture']
##keywords = ['Chair']

pattern = '|'.join(keywords)

filtered_df = df[df["Category"].str.contains(pattern, na=False)]
print(len(filtered_df))

##price_ave_by_country = df.groupby('Category')['Price'].mean()
##price_ave_by_country = df.groupby(['Category', 'Country'])['Price'].mean()
price_ave = filtered_df.groupby(['Category', 'Country'])['Price'].mean()
price_ave_cat = filtered_df.groupby(['Category'])['Price'].mean()



##print(price_ave)
##print(price_ave_cat)

##update df

df.loc[df["Category"] == 'Furniture', "Category"] == "Furn"
##print(df)
##df['Category'].unique()

14

In [ ]:
##df.loc[df["Category"] == 'Furniture', "Category"] == "Furn"

##df['Category'] = df['Category'].replace('Furniture', 'Furn')

In [71]:
df['Category'] = df['Category'].replace('Furn', 'Furniture')

In [ ]:


df.loc[df["Category"] == 'Furniture']

In [4]:
df['O_date'] = pd.to_datetime(df["OrderDate"])

In [5]:
##df.groupby(['Category', pd.Grouper(key='O_date', freq='Y')])['Product'].size()
##df.groupby(['Category', df['O_date'].dt.to_period('M')]).size().reset_index(name='Count')
##df.groupby(['Category', df['O_date'].dt.to_period('M')])['Price'].mean()


##df.groupby(['Category', df['O_date'].dt.month])['Price'].mean()

##df.groupby(['Category', df['O_date'].dt.month_name()])['Price'].mean().sort_index()

month_order = [
    "January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December"
]

df['month_name'] = pd.Categorical(
    df['O_date'].dt.month_name(),
    categories=month_order,
    ordered=True
)


##df.groupby(['Category', df['O_date'].dt.month_name(locale='en_US.utf8')])['Price'].mean()

##price_ave_year = df.groupby(['Category', 'Country'])['Price'].mean()

##df1 = df.groupby(df['O_date'].dt.to_period('M')).size()
##df['O_date']
##print(df1)

In [ ]:
df.dropna()

In [ ]:
df.groupby(['Category', 'month_name' ])['Price'].mean().reset_index(name='Average').dropna()

In [8]:
##df.groupby(['Category', 'month_name' ])['Price'].sum().reset_index(name='Sum')



##df['Price'] / df.groupby('Category')['Price'].transform('sum')

##state_office = df.groupby(['Category', 'Country']).agg({'Price': 'sum'})
state_office = df.groupby(['Category']).agg({'Price': 'sum'})
# Change: groupby state_office and divide by sum
state_pcts = state_office.groupby(level=0).apply(lambda x:100 * x / float(x.sum()))

print(state_office)

              Price
Category
Electronics  2533.0
Furniture    1688.0
Stationery     37.3

/var/folders/ff/4qwktjyd3wj5njzx2mvpy2qc0000gn/T/ipykernel_19742/3356984989.py:10: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  state_pcts = state_office.groupby(level=0).apply(lambda x:100 * x / float(x.sum()))

In [65]:
##df2 = df.groupby(['Category']).agg({'Price': 'sum'})
##print(df2)
df2 = df.groupby(['Category']).agg({'Price': 'sum'})
##df2['Percentage'] = df2.groupby(level=0).apply(lambda x: 100 * x / x.sum())
# Percentage by lambda and DataFrame.apply() method
##df3 = df2.groupby(level=0).apply(lambda x:100 * x / float(x.sum()))
print(df2)

              Price
Category
Electronics  2533.0
Furniture    1688.0
Stationery     37.3

In [ ]:
##print(df[['OrderID', 'O_date', 'OrderDate','month_name']])

set(df['Country'])

In [ ]:
df2 = df.groupby(['Category']).agg({'Price': 'sum'})
##print(df2)
##df2["perc"] = df2.groupby(level=0).apply(lambda x: 100 * x / x.sum())
##df2["perc"] = df2 / df["Price"]
##df2

In [ ]:
df['Store_Sales_Pct'] = (
    df['Price'] / df.groupby('Category')['Price'].transform('sum')
) * 100

print("\nDataFrame with Percentage:")
print(df['Store_Sales_Pct'])

In [ ]:
df['Country'].value_counts()

In [ ]:
df2 = df.groupby(['Category', 'Fee']).agg({'Fee': 'sum'})
Courses = df.groupby(['Category']).agg({'Fee': 'sum'})
df2.div(Courses, level='Category') * 100

In [ ]:
df.groupby(['Category','Store_Sales_Pct'])["Price"].sum()

In [9]:
df.rename(columns={'month_name': 'O_month'}, inplace=True)

In [ ]:
df.columns

##df.to_csv("new_orders.csv", index=False)

In [ ]:
df_country = df.set_index('Country')
df_country

In [ ]:
##df.columns

##df_country.filter(items=['Category','Product'], axis=1)

##df_country.loc['USA']

df.groupby('Category')['Price'].sum().to_frame('total sum')

             total sum
Category
Electronics     2533.0
Furniture       1688.0
Stationery        37.3

In [18]:
g = df.groupby('Category')['Price']

for Category, Price in g:
    print(Price.sum())

print(g.keys)

2533.0
1688.0
37.3
Category

In [46]:
g = df.groupby('Category')



for Category, Category_df in g:
   print(Category, Category_df)

##print(g.keys)


##print(g.Quantity.mean())

print(g.get_group("Electronics")["Price"].sum() / df.Price.sum() * 100)
print(g.get_group("Furniture")["Price"].sum() / df.Price.sum() * 100)
print(g.get_group("Stationery")["Price"].sum() / df.Price.sum() * 100)

Electronics     OrderID      CustomerName            Product     Category  Quantity  \
0      1001        John Smith             Laptop  Electronics         1
1      1002         Sarah Lee         Headphones  Electronics         2
4      1005     Carlos Mendez           Keyboard  Electronics         2
7      1008        James Park            Monitor  Electronics         2
9      1010  Takeshi Nakamura              Mouse  Electronics         1
10     1011     Sophie Martin             Webcam  Electronics         1
13     1014   Diego Rodriguez          USB Drive  Electronics         5
16     1017     Anna Kowalski     Wireless Mouse  Electronics         2
18     1019       Yuki Tanaka         Calculator  Electronics         1
21     1022    Isabella Silva  Bluetooth Speaker  Electronics         1
24     1025    Lucas Anderson       Tablet Stand  Electronics         1
25     1026      Chloe Dubois     Paper Shredder  Electronics         1
28     1029      Seo-yeon Kim  Wireless Keyboard  Electronics         1
30     1031      Amira Hassan            USB Hub  Electronics         1
31     1032     Thomas MÃ¼ller   Document Scanner  Electronics         1
34     1035     Yuki Yamamoto      Monitor Stand  Electronics         1
36     1037     Carlos Santos   Wireless Earbuds  Electronics         1
38     1039        Daniel Kim        Power Strip  Electronics         2

     Price   OrderDate Shipped      Country
0   1200.0  2024-06-01     Yes          USA
1    150.0  2024-06-03      No       Canada
4     80.0  2024-06-06      No       Mexico
7    220.0  2024-06-09      No  South Korea
9     35.0  2024-06-11     Yes        Japan
10    85.0  2024-06-12     Yes       France
13    25.0  2024-06-15     Yes        Spain
16    45.0  2024-06-18     Yes       Poland
18    15.0  2024-06-20     Yes        Japan
21    95.0  2024-06-23     Yes       Brazil
24    28.0  2024-06-26     Yes       Sweden
25    75.0  2024-06-27     Yes       France
28   110.0  2024-06-30     Yes  South Korea
30    32.0  2024-07-02     Yes      Morocco
31   140.0  2024-07-03     Yes      Germany
34    55.0  2024-07-06     Yes        Japan
36   125.0  2024-07-08     Yes     Portugal
38    18.0  2024-07-10      No  South Korea
Furniture     OrderID     CustomerName                Product   Category  Quantity  \
2      1003         Ali Khan           Office Chair  Furniture         1
3      1004       Alice Wong              Desk Lamp  Furniture         3
6      1007      Emily Davis          Standing Desk  Furniture         1
11     1012        Raj Patel           File Cabinet  Furniture         2
14     1015        Lisa Chen              Bookshelf  Furniture         1
17     1018    Michael Brown         Desk Organizer  Furniture         1
19     1020  Fatima Al-Zahra             Whiteboard  Furniture         1
22     1023   Oliver Schmidt           Office Plant  Furniture         2
26     1027    Miguel Torres         Desk Chair Mat  Furniture         1
29     1030  Giuseppe Romano          Desk Calendar  Furniture         1
32     1033  Sofia Rodriguez  Desk Drawer Organizer  Furniture         1
35     1036    Emma Thompson     Desk Lamp with USB  Furniture         1
37     1038   Leila Mansouri               Desk Pad  Furniture         1
39     1040     Anna Ivanova             Desk Clock  Furniture         1

    Price   OrderDate Shipped       Country
2   300.0  2024-06-04     Yes           UAE
3    45.0  2024-06-05     Yes     Singapore
6   450.0  2024-06-08     Yes            UK
11  180.0  2024-06-13      No         India
14  280.0  2024-06-16      No         China
17   65.0  2024-06-19      No           USA
19  120.0  2024-06-21     Yes  Saudi Arabia
22   35.0  2024-06-24     Yes       Germany
26   22.0  2024-06-28      No     Argentina
29   18.0  2024-07-01      No         Italy
32   42.0  2024-07-04      No      Colombia
35   68.0  2024-07-07      No            UK
37   28.0  2024-07-09     Yes          Iran
39   35.0  2024-07-11     Yes       Ukraine
Stationery     OrderID    CustomerName        Product    Category  Quantity  Price  \
5      1006    Nora Ibrahim       Notebook  Stationery         5    5.0
8      1009     Maria Rossi            Pen  Stationery        10    1.5
12     1013     Emma Wilson        Stapler  Stationery         3   12.0
15     1016    Ahmed Hassan  Printer Paper  Stationery        20    8.0
20     1021  David Thompson   Highlighters  Stationery         8    3.5
23     1024      Zara Ahmed   Sticky Notes  Stationery        15    4.0
27     1028     Nina Petrov   Binder Clips  Stationery        12    2.5
33     1034    Alex Johnson    Index Cards  Stationery       100    0.8

     OrderDate Shipped    Country
5   2024-06-07     Yes        UAE
8   2024-06-10     Yes      Italy
12  2024-06-14     Yes  Australia
15  2024-06-17     Yes      Egypt
20  2024-06-22      No     Canada
23  2024-06-25      No   Pakistan
27  2024-06-29     Yes     Russia
33  2024-07-05     Yes        USA
59.48383157598103
39.64023201747176
0.8759364065472135

In [59]:
g = df.groupby('Category')



print(g.get_group("Electronics")["Price"].sum() / df.Price.sum() * 100)
print(g.get_group("Furniture")["Price"].sum() / df.Price.sum() * 100)
print(g.get_group("Stationery")["Price"].sum() / df.Price.sum() * 100)

for cat_name in g.groups.keys():

    print(cat_name, str(round(g.get_group(cat_name)["Price"].sum() / df.Price.sum() * 100,1)) + "%")

59.48383157598103
39.64023201747176
0.8759364065472135
Electronics 59.5%
Furniture 39.6%
Stationery 0.9%